* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #F0F2F5;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.container {
  width: min(90vw, 800px);
  margin: auto;
}

header {
  background: #2D4A22;
  padding: 2rem 0 10rem;
  text-align: center;
}
header h1 {
  color: white;
  font-weight: 100;
}